<div class="wrapper">
    <ul class="facebook-shortcuts">
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-user-fill"></i>
            <span class="facebook-shortcuts__shortcut__text">
                Friends
            </span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-group-2-line"></i>
            <span class="facebook-shortcuts__shortcut__text">
                Groups
            </span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-movie-line"></i>
            <span class="facebook-shortcuts__shortcut__text">
                Watch
            </span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-store-2-line"></i>
            <span class="facebook-shortcuts__shortcut__text">
                MarketPlace
            </span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-history-fill"></i>
            <span class="facebook-shortcuts__shortcut__text">
                Memories
            </span>
        </li>
    </ul>
    
    
    <h4 class="separator">Your shortcuts</h4>
    <ul class="facebook-favorites">
        <li class="facebook-favorites__favorite">
            <div class="favorite-image">1</div>
            <span class="favorite__text">
                Chaine One
            </span>
        </li>
        <li class="facebook-favorites__favorite">
            <div class="favorite-image">1</div>
            <span class="favorite__text">
                Chaine Two
            </span>
        </li>
        <li class="facebook-favorites__favorite">
            <div class="favorite-image">1</div>
            <span class="favorite__text">
                Chaine Three
            </span>
        </li>
    </ul>
</div>