<div class="wrapper">
  <div class="stories">
    <div class="story story-1">
      <img src="../assets/images/profil.jpg" alt="profil image" />
      <div class="story__username">Jhon Doe</div>
    </div>
    <div class="story story-2">
      <img src="../assets/images/profil.jpg" alt="profil image" />
      <div class="story__username">Jhon Doe</div>
    </div>
    <div class="story story-3">
      <img src="../assets/images/profil.jpg" alt="profil image" />
      <div class="story__username">Jhon Doe</div>
    </div>
    <div class="story story-4">
      <img src="../assets/images/profil.jpg" alt="profil image" />
      <div class="story__username">Jhon Doe</div>
    </div>
    <div class="story story-5">
      <img src="../assets/images/profil.jpg" alt="profil image" />
      <div class="story__username">Jhon Doe</div>
    </div>
    <div class="story story-6">
      <img src="../assets/images/profil.jpg" alt="profil image" />
      <div class="story__username">Jhon Doe</div>
    </div>
  </div>

  <div class="create-post">
    <div class="input-box__text">
      <img src="../assets/images/profil.jpg" alt="profil image" />
      <label for="create-post">
        <input
          type="text"
          id="create-post"
          placeholder="what's in your mind..."
        />
      </label>
    </div>
    <div class="create-post__buttons">
      <div class="create-post__button">
        <i class="ri-video-add-fill"></i>
        <span>Live video</span>
      </div>
      <div class="create-post__button">
        <i class="ri-image-line"></i>
        <span>Photo video</span>
      </div>
      <div class="create-post__button">
        <i class="ri-emotion-happy-line"></i>
        <span>Feeling/activity</span>
      </div>
    </div>
  </div>
  <div class="create-room">
    <div class="create-room__button">
      <i class="ri-video-add-fill"></i>
      <span>Create Room</span>
    </div>
    <div class="create-room__images">
      <img src="https://picsum.photos/id/20/100/180" alt="" />
      <img src="https://picsum.photos/id/21/100/180" alt="" />
      <img src="https://picsum.photos/id/22/100/180" alt="" />
      <img src="https://picsum.photos/id/23/100/180" alt="" />
      <img src="https://picsum.photos/id/24/100/180" alt="" />
      <img src="https://picsum.photos/id/25/100/180" alt="" />
      <img src="https://picsum.photos/id/26/100/180" alt="" />
      <img src="https://picsum.photos/id/27/100/180" alt="" />
      <img src="https://picsum.photos/id/28/100/180" alt="" />
      <img src="https://picsum.photos/id/29/100/180" alt="" />
      <img src="https://picsum.photos/id/30/100/180" alt="" />
    </div>
  </div>

  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__post-user">
        <img src="../../assets/images/profil.jpg" alt="profil" />
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">hakki</div>
        <div class="news-feed__header__post-meta__info">
          <span><i class="ri-earth-line"></i></span>
          <span class="date">4d ago</span>
        </div>
      </div>
      <div class="news-feed__header__post-options">
        <span>...</span>
      </div>
    </header>
    <section class="news-feed__body">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti sed
        veniam voluptate nesciunt non, hic consectetur blanditiis ipsum aut
        ducimus.
      </p>
      <img src="https://picsum.photos/600/340" alt="img-post" />
    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer__icons">
        <i class="ri-thumb-up-fill"></i>
        <i class="ri-heart-fill"></i>
        <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__footer__comments">34 comments</div>
    </footer>
    <div class="news-feed__comment-box">
      <div class="input-box__text">
        <img src="../../assets/images/profil.jpg" alt="profil" />
        <label for="create-comment">
          <input
            type="text"
            id="create-comment"
            placeholder="your comment..."
          />
        </label>
      </div>
    </div>
  </div>
  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__post-user">
        <img src="../../assets/images/profil.jpg" alt="profil" />
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">hakki</div>
        <div class="news-feed__header__post-meta__info">
          <span><i class="ri-earth-line"></i></span>
          <span class="date">4d ago</span>
        </div>
      </div>
      <div class="news-feed__header__post-options">
        <span>...</span>
      </div>
    </header>
    <section class="news-feed__body">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti sed
        veniam voluptate nesciunt non, hic consectetur blanditiis ipsum aut
        ducimus.
      </p>
      <img src="https://picsum.photos/id/41/600/340" alt="img-post" />
    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer__icons">
        <i class="ri-thumb-up-fill"></i>
        <i class="ri-heart-fill"></i>
        <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__footer__comments">34 comments</div>
    </footer>
    <div class="news-feed__comment-box">
      <div class="input-box__text">
        <img src="../../assets/images/profil.jpg" alt="profil" />
        <label for="create-comment">
          <input
            type="text"
            id="create-comment"
            placeholder="your comment..."
          />
        </label>
      </div>
    </div>
  </div>
  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__post-user">
        <img src="../../assets/images/profil.jpg" alt="profil" />
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">hakki</div>
        <div class="news-feed__header__post-meta__info">
          <span><i class="ri-earth-line"></i></span>
          <span class="date">4d ago</span>
        </div>
      </div>
      <div class="news-feed__header__post-options">
        <span>...</span>
      </div>
    </header>
    <section class="news-feed__body">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti sed
        veniam voluptate nesciunt non, hic consectetur blanditiis ipsum aut
        ducimus.
      </p>
      <img src="https://picsum.photos/id/42/600/340" alt="img-post" />
    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer__icons">
        <i class="ri-thumb-up-fill"></i>
        <i class="ri-heart-fill"></i>
        <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__footer__comments">34 comments</div>
    </footer>
    <div class="news-feed__comment-box">
      <div class="input-box__text">
        <img src="../../assets/images/profil.jpg" alt="profil" />
        <label for="create-comment">
          <input
            type="text"
            id="create-comment"
            placeholder="your comment..."
          />
        </label>
      </div>
    </div>
  </div>
  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__post-user">
        <img src="../../assets/images/profil.jpg" alt="profil" />
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">hakki</div>
        <div class="news-feed__header__post-meta__info">
          <span><i class="ri-earth-line"></i></span>
          <span class="date">4d ago</span>
        </div>
      </div>
      <div class="news-feed__header__post-options">
        <span>...</span>
      </div>
    </header>
    <section class="news-feed__body">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti sed
        veniam voluptate nesciunt non, hic consectetur blanditiis ipsum aut
        ducimus.
      </p>
      <img src="https://picsum.photos/id/43/600/340" alt="img-post" />
    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer__icons">
        <i class="ri-thumb-up-fill"></i>
        <i class="ri-heart-fill"></i>
        <i class="ri-emotion-happy-fill"></i>
      </div>
      <div class="news-feed__footer__comments">34 comments</div>
    </footer>
    <div class="news-feed__comment-box">
      <div class="input-box__text">
        <img src="../../assets/images/profil.jpg" alt="profil" />
        <label for="create-comment">
          <input
            type="text"
            id="create-comment"
            placeholder="your comment..."
          />
        </label>
      </div>
    </div>
  </div>
</div>
