<div class="wrapper">
  <h4>sponsored</h4>
  <div class="fb-sponsors">
    <div class="fb-sponsors__sponsor">
      <img
        src="../../assets/images/travels.jpg"
        alt="sponsor-image"
        class="sponsor-image"
      />
      <p class="sponsor-descripti">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At nostrum
        doloribus harum !
      </p>
    </div>
    <div class="fb-sponsors__sponsor">
      <img
        src="../../assets/images/canada.jpg"
        alt="sponsor-image"
        class="sponsor-image"
      />
      <p class="sponsor-descripti">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
        consectetur non laborum.
      </p>
    </div>
  </div>

  <h4 class="separator">Your pages</h4>

  <div class="fb-pages">
    <div class="fb-pages__page">
      <img
        src="../../assets/images/photoshop.png"
        alt="page-image"
        class="page-image"
      />
      <p class="page-description">Adobe Photoshop</p>
    </div>
    <div class="fb-pages__page">
      <img
        src="../../assets/images/illustrator.png"
        alt="page-image"
        class="page-image"
      />
      <p class="page-description">Adobe Illustrator</p>
    </div>
    <div class="fb-pages__page">
      <img
        src="../../assets/images/indesign.png"
        alt="page-image"
        class="page-image"
      />
      <p class="page-description">Adobe Indesign</p>
    </div>
  </div>

  <h4 class="separator">Contacts</h4>
  <div class="fb-contacts">
    <div class="fb-contacts__contact">
      <img
        src="https://picsum.photos/id/25/64/64"
        alt="contact-image"
        class="contact-image"
      />
      <p class="contact-description">Jhon Doe</p>
    </div>

    <div class="fb-contacts__contact">
      <img
        src="https://picsum.photos/id/26/64/64"
        alt="contact-image"
        class="contact-image"
      />
      <p class="contact-description">Jhon Doe</p>
    </div>
    <div class="fb-contacts__contact">
      <img
        src="https://picsum.photos/id/27/64/64"
        alt="contact-image"
        class="contact-image"
      />
      <p class="contact-description">Jhon Doe</p>
    </div>
  </div>
  <div class="fb-contacts__contact">
    <img
      src="https://picsum.photos/id/28/64/64"
      alt="contact-image"
      class="contact-image"
    />
    <p class="contact-description">Jhon Doe</p>
  </div>
  <div class="fb-contacts__contact">
    <img
      src="https://picsum.photos/id/29/64/64"
      alt="contact-image"
      class="contact-image"
    />
    <p class="contact-description">Jhon Doe</p>
  </div>
  <div class="fb-contacts__contact">
    <img
      src="https://picsum.photos/id/30/64/64"
      alt="contact-image"
      class="contact-image"
    />
    <p class="contact-description">Jhon Doe</p>
  </div>
  <div class="fb-contacts__contact">
    <img
      src="https://picsum.photos/id/31/64/64"
      alt="contact-image"
      class="contact-image"
    />
    <p class="contact-description">Jhon Doe</p>
  </div>
  <div class="fb-contacts__contact">
    <img
      src="https://picsum.photos/id/32/64/64"
      alt="contact-image"
      class="contact-image"
    />
    <p class="contact-description">Jhon Doe</p>
  </div>
  <div class="fb-contacts__contact">
    <img
      src="https://picsum.photos/id/33/64/64"
      alt="contact-image"
      class="contact-image"
    />
    <p class="contact-description">Jhon Doe</p>
  </div>
  <div class="fb-contacts__contact">
    <img
      src="https://picsum.photos/id/34/64/64"
      alt="contact-image"
      class="contact-image"
    />
    <p class="contact-description">Jhon Doe</p>
  </div>
  <div class="fb-contacts__contact">
    <img
      src="https://picsum.photos/id/35/64/64"
      alt="contact-image"
      class="contact-image"
    />
    <p class="contact-description">Jhon Doe</p>
  </div>
  <div class="fb-contacts__contact">
    <img
      src="https://picsum.photos/id/36/64/64"
      alt="contact-image"
      class="contact-image"
    />
    <p class="contact-description">Jhon Doe</p>
  </div>
  <div class="fb-contacts__contact">
    <img
      src="https://picsum.photos/id/37/64/64"
      alt="contact-image"
      class="contact-image"
    />
    <p class="contact-description">Jhon Doe</p>
  </div>
  <div class="fb-contacts__contact">
    <img
      src="https://picsum.photos/id/39/64/64"
      alt="contact-image"
      class="contact-image"
    />
    <p class="contact-description">Jhon Doe</p>
  </div>
  <div class="fb-contacts__contact">
    <img
      src="https://picsum.photos/id/40/64/64"
      alt="contact-image"
      class="contact-image"
    />
    <p class="contact-description">Jhon Doe</p>
  </div>
</div>
