<nav class="nav">
    <div class="nav__left">
        <div class="nav__left__logo">
            <i class="ri-facebook-circle-fill"></i>
        </div>
        <div class="nav__left__search">
            <label for="search">
                <input type="search" id="search" placeholder="search...">
            </label>
        </div>
    </div>
    <div class="nav__middle">
        <div class="nav-icons">
            <div class="nav-icons__icon active">
                <i class="ri-home-4-line"></i>
            </div>
            <div class="nav-icons__icon">
                <i class="ri-video-line"></i>
            </div>
            <div class="nav-icons__icon">
                <i class="ri-store-2-line"></i>
            </div>
            <div class="nav-icons__icon">
                <i class="ri-group-2-line"></i>
            </div>
            <div class="nav-icons__icon">
                <i class="ri-collage-line"></i>
            </div>
        </div>
    </div>
    <div class="nav__right">
        <div class="facebook-services">
            <div class="user-icon">
                <img class="image-rounded" src="../assets/images/profil.jpg" alt="profil image">
            </div>
            <div class="facebook-services__service"><i class="ri-grid-fill"></i></div>
            <div class="facebook-services__service"><i class="ri-messenger-fill"></i></div>
            <div class="facebook-services__service"><i class="ri-notification-4-fill"></i></div>
            <div class="facebook-services__service"><i class="ri-arrow-down-s-fill"></i></div>
        </div>
    </div>
</nav>