.content{
    @include dflex(row, space-between, top, rem(10));    
    padding: $primary-padding;
    &__left{
        flex: 1;
        background-color: beige;
        max-width: $sidebar-width;
    }
    
    &__middle{
        flex: 2;
        background-color: floralwhite;
        max-width: $feed-width;
    }
    
    &__right{
        flex: 1;
        background-color: beige;
        max-width: $sidebar-width;
    }
}